body {
  font-family: 'TH Sarabun New', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a6d6f2
}

.header {
  text-align: left;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid #000000;
}

.header img {
  height: 50px;
  margin-left: 20px;
}
 
.content {
  text-align: center;
  padding: 40px;
}

.content p {
  font-size: 24px;
  color: #000000;
  margin-top: 20px;
}

.content h1 {
  font-sinze: 36 px;
  color: #d32f2f;
}

.button {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, #3F51B5, #FF4081);
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 20px;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.about {
  margin-top: 40px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

